node_modules/*
.pnpm-store/*
!node_modules/.mf/*
.wrangler/*
data/*
tmpclaude*
server/node_modules/*
frontend/node_modules/*
frontend/dist/*
.env
docker-node.*.log
cookies.txt
test-login.json
.wrangler-pages-test/

.idea/
